p {
    margin: 5px;
    padding: 3px;
}

/*header*/
.header-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    height: 66px;
    background-color: #515177;
}

.header-row {
    margin: 5px;
    width: 40%;
    background-color: darkgray;
}

.header-row2 {
    margin: 5px;
    width: 15%;
    background-color: darkgray;
    position: fixed;
    left: 80%;
}

/*body*/
body {
    color: #515177;
}

.important {
    color: #06277a;
}

.mrg-top-10 {
    margin-top: 10px;
}

.mrg-bot-10 {
    margin-bottom: 10px;
}

.mrg-left-20 {
    margin-left: 20px;
}

.back-gray {
    background-color: darkgray;
    margin: 15px 25px;
    padding: 15px;
}


.my-container {
    overflow: hidden;
    width: 1000px;
    height: 3000px;
}

.my-box {
    white-space: nowrap;
    background: #099;
    float: left;
    display: inline
}

/*Login form*/
.btn-loggin {
    margin: 15px 0;
}

.pass-lbl {
    margin-left: 10px;
}

/*Table all users*/
.table-all-users {
    border: #eee536;
    border: 1px;
    margin: 10px 10px;
    background-color: antiquewhite;
}