<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="static/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 sec:authorize="isAuthenticated()">HELLO MY FRIEND!!!</h2>
            <h2 sec:authorize="!isAuthenticated()">Main page</h2>
        </div>
    </div>

    <div class="mrg-left-20 row">
        <p class="important">Click <a th:href="@{/home}"> here</a> to Home </p>
        <p>Click <a th:href="@{/login}"> here</a> to Loggin </p>
        <p th:text="${text}"></p>

        <p>Click <a th:href="@{/login}"> here</a> to Loggin </p>
        <p>Click <a th:href="@{/registration}"> here</a>to registration </p>
        <p>Click <a th:href="@{/index}">here</a> to return main page</p>
        <p>Click <a th:href="@{/user}"> here</a> to user page </p>
        <p>Click <a th:href="@{/admin/}"> here</a> to admin page </p>

    </div>
    <div class="row">
        <div class="float" sec:authorize="!isAuthenticated()">
            <form th:action="@{/login}" method="get">
                <input type="submit" value="Авторизоваться">
            </form>
        </div>

        <div sec:authorize="isAuthenticated()">  <!--style="width: 1000%;" class="float"-->
            <div> <!--style="float: left; width: 100px; height: 100px;"-->
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign out">
                </form>
            </div>
            <div> <!--style="float: left; width: 100px; height: 100px;"-->
                <form th:action="@{/index}" method="get">
                    <input type="submit" value="Back to Main">
                </form>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <!--This content is only shown to authenticated users.-->
            <div sec:authorize="hasAnyAuthority('USER')">
                <p>You are connect like a User</p>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <p>You are connect like an Admin</p>
            </div>
            <div sec:authorize="hasAuthority('SUPERADMIN')">
                <p>You are connect like a Superadmin</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>