<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div>
    <form name="f" th:action="@{/perform-login}" method="post">
        <fieldset >
            <legend>Войдите</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Неправильные имя и пароль.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label for="user">Имя</label>
            <input type="text" id="user" name="userName"/>
            <label for="pass" class="pass-lbl">Пароль</label>
            <input type="password" id="pass" name="passWord"/>
            <div class="form-actions" th:marginheight="20" >
                <button type="submit" class="btn btn-loggin">Войти</button>
            </div>
        </fieldset>
    </form>
    <form  th:action="@{/index}" method="get">
        <input type="submit" value="Back to Main">
    </form>
</div>
</body>
</html>