<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration step 2</title>
</head>
<body>
<p>Продолжите регистрацию</p>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Addition Registration </h1>
        </div>
    </div>
    <div class="row">
        <div> <!--class="col-md-6"-->

            <form action="#" class="form-horizontal" th:action="@{/registration/step2}"
                  th:object="${clientsDetails2}"
                  method="post">
                <fieldset>
                    <span class="mrg-bot-10 pull-right">
                        <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
                        <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
                        <!--name="reset"-->
                    </span>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <!--<th> Last_name</th>
                            <th> First_name</th>-->
                            <th> Identification number</th>
                            <th> Passport</th>
                            <!--<th> City</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:object="${clientsDetails2}">
                            <td><input th:placeholder="Identif"
                                       th:field="*{identificationNumber}"/></td>
                            <td><input th:placeholder="Passport"
                                       th:field="*{passport}"/></td>
                            <td><input hidden
                                       th:placeholder="Last_Name"
                                       th:field="*{lastName}"
                                       th:value="${clientsDetails2.getLastName()}"/></td>
                            <td><input hidden
                                       th:placeholder="First_name"
                                       th:field="*{firstName}"
                                       th:value="${clientsDetails2.getFirstName()}"/></td>
                            <td><input hidden
                                       th:placeholder="City"
                                       th:field="*{city}"
                                       th:value="${clientsDetails2.getCity()}"/></td>
                            <td><input hidden
                                       th:placeholder="User"
                                       th:field="${clientsDetails2.userDB}"
                                       th:value="${clientsDetails2.getUserDB()}"/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>